/* $Id$
	This Tiki Wiki CMS Groupware file contains global design
	and layout properties. */
.searchresults blockquote em,
.highlight,
.button.highlight a,
.button a.highlight {
  background: #FC0;
  color: #000;
}
.button a.highlight:hover {
  background: #dfb300;
}
.button.highlight {
  background: inherit;
}
span.highlight {
  padding: 0 .3em;
}
div.highlight {
  display: inline-block;
}
.rating .highlight {
  padding: inherit;
}
.ratingResultAvg {
  font-weight: bold;
}
.articletitle span.ratingResultAvg {
  font-weight: normal;
}
.rbox > div.highlight {
  display: block;
  font-weight: bold;
}
input:-webkit-autofill {
  background-color: #FAFFBD !important;
  /* needs important because Chrome has it already important */
  background-image: none !important;
  color: #000 !important;
  /* the Google guys forgot the number-one rule... when they specify background they should specify forgeround color too ;) */
}
#attzone,
#bottom_modules .box-rsslist br,
#comzone,
#edithelpzone,
#forumpost,
#polledit,
#pollzone,
#rules-copy-panel,
#tiki-clean a.editplugin,
.collapsed ul,
.comment.archived,
.convene-no img,
.s5-slide a.editplugin,
.tabs br,
.wiki-edithelp,
.wpfade-div-plain {
  display: none;
}
#attzoneopen,
#comzoneopen,
#pollopen,
.all .comment.archived {
  display: block;
}
#ajaxLoadingBG {
  display: none;
  z-index: 9999;
  position: absolute;
  background: transparent url(img/overlay-light.png);
}
#ajaxLoading {
  display: none;
  z-index: 10000;
  position: absolute;
  text-align: center;
  vertical-align: top;
  height: 80px;
  width: 220px;
  font-size: 2em;
  font-weight: bold;
  color: #333;
  background: transparent url(img/loading-light.gif) no-repeat 50% 50%;
}
#cookie_consent_div {
  padding: 15px;
  margin: 1em;
  border: 1px solid #bce8f1;
  color: #31708f;
  background-color: #d9edf7;
}
#cookie_consent_div.banner {
  position: fixed;
  padding: 15px;
  margin: 0;
  border: 1px solid #bce8f1;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
#cookie_consent_div .description {
  font-style: normal;
  font-size: 1.1em;
  font-weight: bold;
}
html#print {
  background: #fff;
  color: #000;
}
body.db_error {
  background: none;
}
body.fullscreen {
  text-align: left;
  background: #fff;
}
#show-errors-button {
  z-index: 1024;
}
#errors {
  z-index: 1023;
}
#edithelpzone code {
  font-size: 1.2em;
}
.attention {
  color: #a94442;
}
.openid_url {
  background: #ffffff url(img/icons/login-OpenID-bg.gif) 1px 1px no-repeat;
}
.bannertext {
  font-size: .95em;
  text-decoration: none;
}
#debugconsole {
  background: #333;
  color: #fff;
  padding: 5px;
  border: 2px solid #aaa;
  font-size: 1em;
  position: absolute;
  top: 0;
  left: 20px;
  width: 60%;
  height: auto;
  z-index: 1000;
}
#debugconsole form {
  color: #dd6;
}
#debugconsole a {
  color: #ddd;
}
.cachedStatus,
.mini {
  font-size: .9em;
}
/* Icons */
a.icon,
img.icon {
  border: 0;
  background: transparent;
}
div #metadata fieldset.tabcontent,
div #metadata div.tabs {
  background-color: transparent;
}
.magnify {
  float: right;
  padding-top: 2px;
}
.modal-body div.submit {
  display: none;
}
#cboxTitle {
  background-color: #fff;
}
#captchaImg {
  border: 1px solid #dddddd;
}
/* fix for lists with empty dl items, e.g. tracker items
 * thanks hayksaakian on https://github.com/twbs/bootstrap/issues/4062
 * to be removed when we update to bs 3.2
 */
.dl-horizontal > dd:after {
  display: table;
  content: "";
  clear: both;
}
#top_modules,
#topbar_modules,
#pagebottom_modules {
  margin-left: -15px;
  margin-right: -15px;
}
.box-quickadmin li {
  font-size: 0.9em;
}
.box-quickadmin .cssmenu_horiz a {
  padding: 0 2.25em 0 0;
}
.box-quickadmin .cssmenu_horiz ul li {
  padding-left: 1em;
  background-color: #ffffff;
}
.mod-share-item {
  float: left;
}
.mod-share-item a img {
  margin-right: .5em;
}
.mod-share-item.google-root {
  margin-left: .5em;
}
.share img {
  margin-bottom: -5px;
}
li.archivedate {
  list-style: none outside none;
  text-indent: -15px;
}
.olLayerGoogleV3.olLayerGooglePoweredBy {
  bottom: 15px !important;
  visibility: hidden;
}
.minichatdiv {
  font-size: .9em;
}
.box-switch_lang .box-data img.highlight {
  padding: .1em;
  border: 0.1em solid #ebccd1;
}
.box-switch_lang .box-data .highlight {
  border: 0.1em solid #ebccd1;
}
.box-switch_lang li {
  list-style: none;
}
.box-switch_lang .box-data a.highlight {
  font-weight: bold;
}
.box-switch_lang ul {
  padding: 0 1em;
}
.box-switch_lang .panel-body img {
  margin: .2em;
  vertical-align: middle;
}
#col1 .box-search input[type=submit],
#col1 .box-search input[type=submit]:hover,
#col2 .box-search input[type=submit],
#col2 .box-search input[type=submit]:hover,
#col3 .box-search input[type=submit],
#col3 .box-search input[type=submit]:hover {
  margin: 0.2em;
}
.box-forums_most_read_topics .hits {
  font-style: italic;
}
.box-since_last_visit_new .ui-tabs .ui-tabs-nav {
  padding: 0;
  border: none;
}
.box-since_last_visit_new .ui-tabs .ui-tabs-nav li {
  margin-right: 0;
  text-align: center;
  width: 22%;
}
.box-since_last_visit_new .ui-tabs .ui-tabs-nav li a {
  padding: .3em .2em;
}
.box-since_last_visit_new {
  min-height: 10em;
}
.TwitName {
  font-weight: bold;
}
.TwitDate a {
  font-size: 0.8em;
  font-style: italic;
  text-align: right;
  display: block;
  padding-bottom: 8px;
}
.fb-story {
  font-style: italic;
}
.fb-date a {
  font-size: 0.8em;
  font-style: italic;
  text-align: right;
  display: block;
  padding-bottom: 8px;
}
.fb-name {
  font-weight: bold;
  display: block;
}
#role_main .box-users_list {
  max-width: 100%;
}
.box-share > div {
  text-align: center;
}
.sitelogo img {
  margin-top: 10px;
}
.pass a,
.pass a:visited,
.pass a:hover,
.register a,
.register a:visited,
.register a:hover,
.logged-in a,
li.login_link ul li a {
  background: none !important;
}
.tellafriend,
.share {
  text-align: right;
}
a.flip,
a.flip:visited,
.tellafriend a,
.share a,
.tellafriend a:visited,
.share a:visited,
a.flip:hover,
.tellafriend a:hover,
.share a:hover {
  font-size: 80%;
  text-decoration: none;
}
#rss small {
  font-size: 1em;
}
#footer .rsslist {
  width: 190px;
  text-align: left;
  margin: auto;
}
.alphafilter {
  display: block;
  margin: 10px 0;
  text-align: center;
}
.alphafilter a {
  font-size: 120%;
}
.alphafilter .highlight {
  font-weight: bold;
  font-size: 130%;
}
.top_actions {
  text-align: right;
  margin-top: 5px;
}
#mytabs .ui-tabs-nav {
  zoom: 0.70;
}
#mytabs .ui-widget-content {
  margin-left: -10px;
  zoom: 0.85;
}
#mytabs {
  min-width: 150px;
}
.pwddom_domain_name {
  font-weight: bold;
}
.pwddom_username_name {
  font-weight: bold;
}
.tiki_login #col1 .box-login_box {
  margin-left: auto;
  margin-right: auto;
}
div.cvsup {
  font-size: x-small;
  text-align: left;
  color: #999;
}
.textarea-toolbar img.icon {
  vertical-align: middle;
  margin: 1px 3px;
}
.helptool-admin {
  padding-left: 8px;
  margin-left: 8px;
  border-left: medium double #777777;
}
a.toolbar,
a.toolbar:hover {
  padding: 4px 2px;
  display: inline-block;
  border: none;
  background: transparent;
}
.toolbar-list {
  padding: 0 0 0 .5em;
  line-height: 20px;
  border-left: medium double #777777;
}
.toolbars-picker {
  position: absolute;
  width: 128px;
  z-index: 300;
  line-height: 12px;
  background: #ffffff;
  border: thin solid #333333;
  color: #333333;
  padding: 4px;
}
.toolbars-picker.specialchar {
  width: 25em;
}
.toolbars-picker a {
  padding: 4px 0 4px 4px;
  margin: 0;
  display: inline-block;
  border: 1px solid #ffffff;
  overflow: hidden;
  color: #333333;
}
.toolbars-picker.color a,
.toolbars-picker.bgcolor a {
  width: 14px;
  height: 12px;
  padding: 0;
}
.toolbars-picker a:hover {
  border: 1px solid #a94442;
  background: #777777;
  color: #333333;
}
.toolbars-picker-reset {
  width: 100% !important;
  text-align: center;
  border: none !important;
}
.toolbars-picker span {
  display: block;
  width: 14px;
  height: 12px;
}
.textarea-toolbar > div {
  background-color: #eeeeee;
  border: outset 1px #eeeeee;
}
/* tiki-admin_toolbars.php toolbar icon alignment */
a.cke_button span.cke_icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-top: -5px;
}
.error .rbox-data .adminoption,
.error .rbox-data .adminoptionlabel {
  display: inline;
}
.modules {
  position: relative;
}
h3.panel-title {
  display: block;
  padding-top: 0;
  position: relative;
}
.moduleflip,
.moduleflip img {
  display: none;
  position: absolute;
  right: 1%;
  top: 0;
}
.panel:hover .moduleflip,
.panel:hover .moduleflip img {
  display: block;
}
.panel-body table {
  width: 100%;
}
.panel-body a.linkmenu {
  display: block;
}
.panel-body ol,
.panel-body ul {
  overflow: hidden;
  margin-top: 0;
  margin-bottom: 0;
}
.box-months_links ul {
  list-style-type: none;
  padding-left: 0;
}
.box-months_links ul li {
  list-style-type: none;
  padding-left: 0.5em;
}
.box-months_links ul li li {
  list-style-type: none;
  padding-left: 1.3em;
}
.modcontrols {
	visibility: hidden;
	float: right;
}
.modcontrols > div > button.btn-link {
	padding: 0;
}
.module:hover .modcontrols {
	visibility: visible;
}
.box-minichat {
  width: 100%;
}
.minichat,
.minichatdiv,
.minichatchan {
  overflow: auto;
}
#autosave_preview > div {
  height: 30ex;
  overflow-y: auto;
  overflow-x: hidden;
}
.warning a,
.warning a:link,
.warning a:visited {
  color: #8a6d3b;
}
.ui-accordion .normal,
.ui-accordion .normalnoborder,
.ui-accordion .admin {
  width: auto;
}
td.italiclabel {
  text-align: right;
  padding-right: 5px;
  font-style: italic;
}
.normal td,
.wikitable td,
.odd,
.even,
.form,
.editblogform td {
  margin: 0;
  padding: 3px;
}
.normal td,
.wikitable td,
td.odd,
td.even {
  padding: 0.2em;
  border-collapse: collapse;
}
td.form {
  padding: 0.2em;
}
td.integer {
  text-align: right;
}
td.checkbox-cell {
  text-align: center;
  width: 20px;
}
td.action {
  white-space: nowrap;
}
td.norecords {
  text-align: left;
  font-weight: bold;
}
td.id,
td.icon {
  text-align: center;
}
td.third,
td.heading,
tr.diffheader {
  text-align: center;
}
td.numeric {
  text-align: right;
  padding-right: 1px;
}
.normal.item th {
  text-align: right;
  padding: .2em .5em;
}
.normal.item td {
  text-align: left;
  padding: .2em .5em;
}
.odd {
  background: transparent;
  color: #333333;
}
.even {
  background: #f9f9f9;
  color: #333333;
}
.split {
  clear: both;
}
#page-bar > span {
  float: left;
}
.wikiactions > .btn-group {
  display: inline-block;
}
.wikiplugin-split {
  border: none;
  clear: both;
}
.wikiplugin-split .codelisting {
  width: 95%;
}
.conveneHeaderRow td {
  text-align: center;
}
.conveneVotes td,
.conveneFooterRow td,
.conveneHeaderRow td {
  vertical-align: middle;
}
.convene-ok {
  background-color: #D1F3D1 !important;
  background-image: none !important;
  text-align: center;
}
.convene-no {
  background-color: #FFCCCA !important;
  background-image: none !important;
  text-align: center;
}
.convene-unconfirmed {
  text-align: center;
}
.conveneFooter,
.conveneHeader {
  text-align: center;
}
.footnotearea {
  margin-top: 2em;
  font-size: 0.9em;
}
#tiki-center .versionav {
  padding: 0;
  border: 0;
  margin-bottom: -1px;
}
.versionav .button {
  margin-bottom: 0;
}
#tiki-center .versioncontent {
  padding: 1em;
}
table.wikiplugin_tracker td {
  vertical-align: top;
  padding-bottom: 1.2em;
}
.wikiplugin_edit textarea {
  width: 99%;
  height: 150px;
}
.editplugin {
  vertical-align: bottom;
}
.plugin-mouseover {
  position: absolute;
  z-index: 500;
  display: none;
  padding: .4em;
  background: #F5F5F5;
  border: 1px solid #bbb;
}
.fancysort .header {
  cursor: pointer;
}
#jtrack-holder {
  width: auto !important;
}
.jtrack-item {
  height: auto !important;
}
#col1 #jtrack-content,
#col1 #jtrack-form-create,
#col1 #jtrack-form-list,
#col1 #jtrack-form-update,
#col1 #jtrack-form-remove,
#col1 #jtrack-form-remove-all {
  height: 450px;
}
#timeSheetSaved,
#timesheetSpreadsheet {
  height: 500px !important;
}
#timeSheetTabs {
  height: 600px !important;
}
#right_modules #jtrack-bar,
#left_modules #jtrack-bar,
#right_modules .jtrack-item,
#left_modules .jtrack-item {
  font-size: 76%;
}
#right_modules .jtrack-form,
#left_modules .jtrack-form {
  height: 245px !important;
}
.tocnav {
  margin-bottom: 4px;
  clear: both;
}
.mandatory_note {
  font-style: italic;
  color: red;
  margin-top: 10px;
}
.popup-backlinks {
  display: none;
  width: 100px;
}
.trackerCategoryName {
  white-space: nowrap;
}
.author0 {
  color: black;
}
.author1 {
  color: blue;
}
.author2 {
  color: red;
}
.author3 {
  color: green;
}
.author4 {
  color: maroon;
}
.author5 {
  color: yellow;
  background: gray;
}
.author6 {
  color: aqua;
  background: gray;
}
.author7 {
  color: fuchsia;
  background: gray;
}
.author8 {
  color: teal;
}
.author9 {
  color: purple;
}
.author10 {
  color: white;
  background: navy;
}
.author11 {
  color: olive;
}
.author12 {
  color: gray;
}
.author13 {
  color: navy;
}
.author14 {
  color: silver;
  background: blue;
}
.author15 {
  color: lime;
  background: gray;
}
.structuremenu .menuSection {
  margin-left: 6px;
  border-left: 1px dotted gray;
}
.structuremenu .menuSection .option,
.structuremenu .menuSection .optionline {
  background: transparent url(img/icons/h_trenner.gif) center left no-repeat;
  padding-left: 21px;
}
.cke_editable:hover {
  outline: #ccc dotted 1px;
}
.tiki_plugin {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #eee;
}
.tiki_plugin .plugin_icon {
  float: left;
  position: absolute;
  opacity: .7;
}
.unsavedChangesInEditor {
  border: 1px solid;
  border-color: Red;
}
div.tiki_plugin {
  width: 100%;
}
div#outerToc {
  position: fixed;
  top: 0px;
  left: 75%;
  background: #E0E0E0;
  display: none;
  border-radius: 0px 0px 5px 5px;
  z-index: 5;
  padding: 5px;
  margin: 0 5px 5px;
  max-height: 95%;
}
div#outerToc * {
  color: #000;
}
div#innerToc {
  overflow-y: auto;
}
div#outerToc-static {
  border: 1px solid;
  padding: 5px;
  margin: 5px;
}
div#outerToc-static ul {
  list-style-position: inside;
  list-style-type: none;
  padding-left: 1em;
}
.plugin-form-float {
  position: fixed;
  left: 5%;
  right: 365px;
  top: 5%;
  max-height: 90%;
  overflow: auto;
  z-index: 1000;
  background: white;
  color: black;
  padding: 10px;
  border: solid 2px black;
}
.icon_edit_section {
  float: right;
}
.icon_edit_section img.icon {
  margin-top: -1px !important;
}
.backlinks_button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background: none;
  width: 20px;
}
.backlinks_button .cssmenu_horiz ul li {
  border: 1px solid #999;
  border-radius: 3px;

}
.backlinks_button li.tabmark {
  background: none;
  border: 0;
  top: 0;
  padding: 0;
}
.backlinks_button .clearfix:after {
  display: inline-block;
}
body.wikitext {
  background: #fff;
  color: #000;
}
.editable-inline {
  background: transparent url(img/icons/database_lightning.png) no-repeat top right;
  padding-right: 20px;
}
.editable-inline.loaded {
  background: transparent;
}
.editable-inline.failure {
  background: transparent url(img/icons/lock_gray.png) no-repeat top right;
}
.editable-inline.modified {
  border: solid 2px #ff6600;
}
.editable-inline.unsaved {
  border: solid 2px red;
}
.ui-menu {
  z-index: 10100 !important;
}
.structure_select {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background: none;
  height: 16px;
  width: 18px;
}
.structure_select .cssmenu_horiz ul li {
  border: 1px solid #999;
  border-radius: 3px;
  -moz-border-radius: 3px;
}
.structure_select li.tabmark {
  background: none;
  border: 0;
  top: 0;
  padding: 0;
}
.structure_select .clearfix:after {
  display: inline-block;
}
.structure_select .selected {
  font-weight: bold;
  font-style: italic;
}
.admintoclevel {
  margin: .2em;
  padding: .4em 0 .4em .2em;
}
.admintoclevel .admintoclevel {
  margin-right: 0;
  border-right: 0 none;
}
.admintoclevel .actions {
  float: right;
  padding-right: .3em;
}
.admintoclevel .actions a {
  padding-right: .2em;
}
.admintoclevel .actions input {
  margin-right: 2em;
  font-style: italic;
  opacity: 0.5;
  border: solid 1px #ddd;
  width: 15em;
}
#page_list_container {
  list-style: none;
  max-height: 20em;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0;
}
#page_list_container li {
  list-style: none;
  margin: .2em;
  padding: .2em;
}
.TextArea-fullscreen {
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  border: 0px solid #BBBBBB;
  opacity: 1;
  top: 0 !important;
  left: 0 !important;
  position: fixed !important;
  background-color: gray;
  z-index: 100 !important;
}
.TextArea-fullscreen #editwiki_toolbar {
  width: 100% !important;
}
.TextArea-fullscreen .ui-wrapper {
  width: auto !important;
  height: 100% !important;
}
.TextArea-fullscreen .ui-wrapper #editwiki {
  position: absolute !important;
  width: 100% !important;
}
.TextArea-fullscreen .actions,
.CodeMirror-fullscreen .actions {
  bottom: 0 !important;
  left: 50%;
  margin-left: -50%;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 101 !important;
  background-color: #fff;
  padding: .4em 0 .2em;
  border-top: #aaa 1px solid;
}
.TextArea-fullscreen .actions input,
.CodeMirror-fullscreen .actions input {
  /*margin: 1px !important;*/
}
.TextArea-fullscreen .cm-remove,
.CodeMirror-fullscreen .cm-remove {
  display: none;
  right: 22px;
  float: none !important;
}
.translation_message {
  overflow-x: hidden;
  padding: .5em;
  white-space: nowrap;
}
.translation_message h2 {
  margin: .2em 0;
  font-size: 1.6em;
}
#diff_outer {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 1;
}
#diff_history {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 .1em;
}
#autosave_preview {
  background-color: #FFFFFF;
  color: #000000;
  z-index: 110;
}
#autosave_preview_grippy {
  background-color: #ccc;
  background-image: url("img/icons/shading.png");
  z-index: 3;
}
a.tiki_anchor:before {
  content: "¶";
}
a.tiki_anchor {
  display: none;
  font-size: 85%;
  font-weight: lighter;
  margin-left: 0.7em;
  text-decoration: none;
  line-height: 100%;
}
h1:hover a.tiki_anchor,
h2:hover a.tiki_anchor,
h3:hover a.tiki_anchor,
h4:hover a.tiki_anchor,
h5:hover a.tiki_anchor,
h6:hover a.tiki_anchor {
  color: #BBBBBB;
  display: inline;
}
h1 a.tiki_anchor:hover,
h2 a.tiki_anchor:hover,
h3 a.tiki_anchor:hover,
h4 a.tiki_anchor:hover,
h5 a.tiki_anchor:hover,
h6 a.tiki_anchor:hover {
  color: #3333CC;
}
.wiki .namespace {
  margin: 1px;
  padding: 1px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background: #eee;
  max-width: 30px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: bottom;
}
.wiki .namespace.first {
  max-width: 130px;
}
.wiki .namespace.last {
  max-width: 130px;
}
#tikihelp {
  height: 100%;
}
.help_fullscreen_icon {
  margin-right: 8px;
}
.help_close_icon {
  margin-right: 20px;
}
.site_report a {
  border-left: 1px solid #696969;
  border-right: 1px solid #696969;
  padding: 0 5px;
  font-size: smaller;
}
.plugin-desc {
  padding: 5px;
}
.wikitext .plugin_gauge,
.wikitext .plugin_gauge-bar {
  border: none;
}
#cachedpage {
  float: right;
  font-size: small;
}
body.tiki_wiki #comments {
  padding: 1em;
}
.codelisting {
  overflow: auto;
  max-width: 990px;
}
.codelisting .CodeMirror-vscrollbar {
  display: none !important;
  /* we do not need to display vertical scrollbars in code listings - workaround for the "wrongly computed height with scrollbar" bug in CodeMirror */
}
.wpfade-hidden {
  background-repeat: no-repeat;
  background-image: url(img/toggle-expand-dark.png);
  margin-left: -19px;
  padding-left: 19px;
}
.wpfade-shown {
  background-repeat: no-repeat;
  background-image: url(img/toggle-collapse-dark.png);
  margin-left: -19px;
  padding-left: 19px;
}
.wpfade-span-plain {
  cursor: pointer;
}
.wpfade-span-icon {
  cursor: pointer;
  margin-left: 19px;
}
.wpfade-div-icon {
  display: none;
  margin-left: 19px;
}
.wikitext .fancylist {
  margin: .5em 0;
  padding: 0;
}
.wikitext .fancylist li {
  font: italic 2em Verdana, Geneva, Arial, Helvetica, sans-serif;
  line-height: 27px;
  list-style-position: inside;
  margin-left: 10px;
  padding: 6px 0 7px 15px;
}
.wikitext .fancylist li p {
  display: inline;
  font-size: 50%;
  font-style: normal;
  margin-left: 12px;
}
[class].wikitext .fancylist li p {
  margin-left: -3px;
}
.quoteheader {
  background: url('img/icons/quoteleft.gif') no-repeat;
  padding-left: 50px;
  height: 35px;
}
.quotebody {
  margin-left: 35px;
  padding-left: 10px;
  font-style: italic;
  border-left: 2px solid #D3D3D3;
}
.wikitext .rbox-data ul {
  list-style-type: disc;
  margin-left: 15px;
  padding-left: 15px;
}
.mandatory_star {
  font-weight: bold;
  color: red;
}
.trackerplugindesc {
  color: #BEBCBC;
  font-style: italic;
}
.charCount {
  color: #BEBCBC;
  font-style: italic;
}
.imgbox {
  border: 1px solid #a9a9a9;
  background-color: #f9f9f9;
  padding: 5px;
}
.thumbcaption {
  font-size: 90%;
  padding: 2px;
}
.ic_button {
  float: left;
  margin: 0 2px 0  0;
  border: 2px solid #eee;
  width: 20px;
  height: 20px;
}
.ic_active {
  border: 2px solid #800;
}
.ic_caption {
  background: #808080;
  opacity: 0.75;
  width: 100%;
  color: black;
  padding: 5px 10px 5px 10px;
}
.wp-sign {
  display: none;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  background-image: url(img/icons/text_signature.png);
  background-repeat: no-repeat;
  padding: 0.3em;
  vertical-align: bottom;
  -webkit-box-shadow: 1px 1px 2px 2px rgba(200, 200, 200, 0.5);
  box-shadow: 1px 1px 2px 2px rgba(200, 200, 200, 0.5);
  border-radius: 2px;
  -moz-border-radius: 2px;
}
.wp-cookie-consent-required {
  color: #c00;
}
.toc {
  padding-left: 2em;
  border-top: 1px dotted #a9a9a9;
  border-bottom: 1px dotted #a9a9a9;
  margin-bottom: 4px;
}
.toc * {
  list-style: none;
  border: none;
}
.diff td {
  border: 1px solid #696969;
  white-space: normal !important;
}
.table-responsive > .table > tbody > tr > td.text-left {
  white-space: normal;
}
.diff div {
  border-top: 1px solid #696969;
}
.diffadded {
  background: #ccffcc;
  color: #000;
}
.diffdeleted {
  background: #ffcccc;
  color: #000;
  text-decoration: line-through;
}
.diffinldel {
  background: #ffcccc;
  text-decoration: line-through;
}
.diffbody {
  background: #f2f4f5;
  color: #2a2a2a;
}
.diffchar {
  color: red;
}
.diffadded .diffchar {
  color: blue;
}
.highlight_word_0 {
  color: #ffff66;
  background: #666;
}
.highlight_word_1 {
  color: #ff9999;
  background: #666;
}
.highlight_word_2 {
  color: #a0ffff;
  background: #666;
}
.highlight_word_3 {
  color: #ff66ff;
  background: #666;
}
.highlight_word_4 {
  color: #99ff99;
  background: #666;
}
.ui-tabs .ui-tabs-nav li a {
  padding: 0.3em 0.8em 0.1em;
}
/* Structures drill-down menu */
div.drillshow {
  border: 1px solid;
  padding: 3px;
  border-color: lightgrey;
}
.article {
  margin-bottom: 40px;
}
.article .avatar {
  float: left;
  margin-right: 1em;
}
.article .actions form {
  display: inline;
}
.articletitle h2 {
  margin: 0 0 .3em;
}
img.topicimage,
img.articleimagenofloat,
img.articleimage {
  padding: 2px 0;
  margin-bottom: 10px;
}
img.articleimage,
img.articleimagefloat {
  margin-right: 4px;
  float: left;
  clear: right;
  padding: 2px 0;
  margin-bottom: 10px;
}
img.articleimage {
  clear: right;
}
.articletrailer {
  position: relative;
  text-align: center;
  margin-top: 1.1em;
}
.articletrailer span {
  display: inline-block;
  margin: auto;
  white-space: nowrap;
}
.articletrailer .wikitopline {
  float: left;
}
.articlesource {
  margin-top: 5px;
  font-style: italic;
  font-size: 90%;
}
.blogheading {
  display: block;
  width: 100%;
  clear: both;
}
.blogdesc {
  display: block;
  width: 40%;
  padding: 8px;
  margin-top: 8px;
  margin-left: 6px;
}
.bloginfo {
  display: block;
}
.blogactions {
  float: right;
}
.postinfo {
  margin-bottom: 20px;
  margin-top: 10px;
}
.postinfo div {
  margin-top: 30%;
}
div.posthead {
  text-align: left;
  padding: 3px;
}
span.posthead {
  display: block;
}
body.tiki_blogs .post_single {
  padding-bottom: 30px;
}
.breadcrumbs {
  font-size: 90%;
  font-style: italic;
}
small.description {
  display: block;
}
.description {
  font-size: .95em;
  font-style: italic;
}
.related_posts,
.related_articles {
  margin-top: 3em;
}
.related_posts h4,
.related_articles h4 {
  margin: 0;
}
body.tiki_forums .normal {
  margin: auto;
}
#forumpostopen {
  display: block;
}
.post .postbody {
  clear: both;
  margin: 5px 0 0;
  padding: 0;
}
.post .postbody .content {
  padding: 0 3px 3px 3px;
  margin: 0;
  text-align: left;
}
.post .postbody-title {
  overflow: hidden;
}
.post .postbody-title .checkbox {
  float: left;
}
.post .postbody-title .title {
  margin-left: 5px;
  margin-top: 3px;
}
.post .author_post_info {
  padding-left: 4px;
  padding-bottom: 4px;
}
.post .author_info .icons {
  display: block;
}
.post .author_info .icons .actions {
  margin-right: 10px;
}
.commentStyle_headers .author_info {
  float: left;
}
.post .postbody .attachments {
  clear: both;
  margin-top: 5px;
}
.post .postbody .attachments img {
  vertical-align: text-bottom;
}
.post .postfooter .rating {
  display: inline;
}
.post .avatar {
  float: right;
  margin-bottom: 5px;
  margin-left: 4px;
  padding: 3px;
}
.post .forumDeliberationRatingForm {
  width: 100%;
  float: none !important;
  text-align: right;
}
.postfooter-nav {
  width: 100%;
  display: block;
  margin-top: 1em;
}
.postfooter-nav .postfooter-nav-prev {
  text-align: left;
  float: left;
  width: 50%;
}
.postfooter-nav .postfooter-nav-next {
  text-align: right;
  float: right;
  width: 50%;
}
.sub_comment {
  padding-left: 20px;
}
.sub_comment_area {
  clear: both;
  background: url("img/edge.gif") no-repeat top left;
}
.forum_actions .actions {
  clear: both;
  padding: 3px;
  vertical-align: middle;
}
.forum_actions .actions .action {
  margin-right: 10px;
}
.forum_actions .headers {
  vertical-align: bottom;
}
.forum_actions .headers .title {
  float: left;
  border-bottom: 0;
  padding: 1px;
}
.forum_actions .headers .infos {
  float: right;
  padding-top: 2px;
}
.nb_replies {
  white-space: nowrap;
}
.post_preview,
.top_post {
  margin-bottom: 15px;
}
.filter-panel-heading a:after {
  font-family: 'Glyphicons Halflings';
  content: "\2212";
  float: left;
  margin-right: 15px;
  color: #555555;
}
.filter-panel-heading a.collapsed:after {
  content: "\2b";
}
#comment-container {
  display: none;
  margin: 0;
  padding: 0;
}
#comment-container-below {
  display: none;
}
#comment-container h4,
#comment-container-below h4 {
  font-weight: bold;
  font-size: 1.2em;
}
#comment-container .notitle h4,
#comment-container-below .notitle h4 {
  margin-bottom: 0.2em;
}
#comment-container .actions,
#comment-container-below .actions {
  float: right;
}
#comment-container ol,
#comment-container-below ol {
  list-style: none;
  margin: 0 0 1em 1em;
  padding: 0;
}
#comment-container ol ol,
#comment-container-below ol ol {
  margin: 1em 0 1em 4em;
}
#comment-container .avatar,
#comment-container-below .avatar {
  float: left;
  margin-right: .7em;
}
#comment-container .author_info,
#comment-container-below .author_info {
  padding: 0;
}
#comment-container .date,
#comment-container-below .date {
  font-style: italic;
}
#comment-container .commentRatingForm,
#comment-container-below .commentRatingForm {
  white-space: nowrap;
  padding-left: .5em;
  display: inline-block;
}
#comment-container .comment-item .actions {
  display: none;
}
#comment-container .comment-item:hover .actions {
  display: block;
}
dl.note-list {
  margin: .5em;
}
#note-editor-comment {
  padding: 0;
}
.note-list .postbody-title {
  background: #ffffff;
  /*#ccc*/
  color: #333333;
  /*#000*/
}
.post-approved-n {
  border-left: 3px dotted #3c763d;
}
.post-approved-r {
  border-left: 3px double #8a6d3b;
}
.post-approved-r .content * {
  background: url(img/icons/dots.gif);
}
.subcomment {
  margin-left: 10px;
}
#wikihelp-tab table td {
  padding: 2px;
}
#note-editor-comment,
.note-list .postbody-title {
  padding: .5em;
}
.note-list .title a {
  font-size: larger;
  font-weight: bold;
}
.note-list .actions {
  float: right;
}
.note-list .author {
  font-size: smaller;
  text-align: right;
}
.oddthumb {
  border-collapse: collapse;
}
.eventhumb {
  border-collapse: collapse;
}
.eventhumb img {
  margin-left: 6px;
  margin-right: 6px;
}
#browse_image {
  width: 100%;
}
img.athumb {
  margin: auto;
}
.showimage {
  margin: 5px 0;
  width: 100%;
  text-align: center;
  padding: 6px;
}
.imgaldescr {
  margin: 10px;
}
.sorttitle {
  margin-left: 10px;
}
p.norecords {
  font-weight: bold;
}
.imagetitle {
  font-weight: bold;
  font-size: 200%;
}
#random_image {
  text-align: center;
  overflow: hidden;
  margin: 1em auto;
}
.fgallisting table td {
  padding-left: 2px;
  padding-right: 2px;
}
body.filegal_popup #tiki-center {
  margin: 0 1em;
}
.thumbinfosothers {
  color: #eeeeee;
  font-size: 95%;
}
.thumbdescription {
  text-align: left;
}
/* ColorBox */
#cboxTitle div {
  overflow: auto;
  margin: 3px 100px 0;
}
table.treetable {
  padding-left: 19px;
  width: 100%;
}
.treetable .checkBoxHeader {
  font-size: .8em;
}
table.treetable.objectperms span.indenter {
  display: inline;
  width: auto;
}
table.treetable.objectperms .subHeader td {
  font-weight: bold;
}
table.treetable .checkBoxHeader {
  width: 5em;
  white-space: nowrap;
}
table.treetable tr.collapsed span.indenter a {
  background-image: url(img/toggle-expand-dark.png);
}
table.treetable tr.expanded span.indenter a {
  background-image: url(img/toggle-collapse-dark.png);
}
table.treetable.objectperms td.added {
  background-color: #dff0d8;
}
table.treetable.objectperms td.removed {
  background-color: #fcf8e3;
}
.tree {
  list-style: none;
}
.thumbnailcontener {
  border: solid 1px #dddddd;
  margin: 1px;
  padding: 2px;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.tree li {
  display: block;
  width: 98%;
}
.tree li ul li {
  width: auto;
}
.treeTable .subHeader td {
  font-weight: bold;
}
.treeTable .parent td {
  font-style: italic;
}
.podcast {
  margin-left: -25px;
}
.podcast .moduledescription {
  margin-left: 25px;
}
.flashButton {
  display: inline;
  overflow: hidden;
}
.flashButtonText {
  position: absolute;
  z-index: 1;
}
.flashButton object {
  opacity: 0;
  position: absolute;
  z-index: 2;
}
.progressName {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  font-weight: bold;
}
.progressBarInProgress,
.progressBarComplete,
.progressBarError {
  width: 0%;
  height: 20px;
  background-color: blue;
  margin-top: 2px;
  color: white;
  text-align: center;
  font-weight: bold;
}
.progressBarComplete {
  width: 100%;
  background-color: green;
  visibility: hidden;
}
.progressBarError {
  width: 100%;
  background-color: red;
  visibility: hidden;
}
.progressBarStatus {
  margin-top: 2px;
  width: 337px;
  text-align: left;
  white-space: nowrap;
}
.progressWrapper {
  width: 357px;
  overflow: hidden;
}
.progressContainer {
  margin: 5px;
  padding: 4px;
  border: solid 1px #E8E8E8;
  background-color: #F7F7F7;
  overflow: hidden;
}
#fgalexplorer > div > ul {
  padding: 0;
  margin: 0;
}
#fgalexplorer > div > ul ul {
  padding-left: 16px;
}
.statuson,
.statusoff {
  padding: 3px 2px 0 2px;
  vertical-align: middle;
  height: 15px;
}
.multiselect .selection {
  display: none;
  overflow: auto;
  position: relative;
  height: auto;
  z-index: 1000;
  width: 100%;
  float: left;
  margin: 0;
  padding: 0;
}
.tracker-item-files li {
  clear: right;
  padding-right: 1em;
  font-size: 0.9em;
}
.tracker-item-files label {
  clear: right;
  float: right;
}
.tracker-item-files {
  column-count: 2;
  column-gap: 30px;
  -moz-column-count: 2;
  -moz-column-gap: 30px;
  -webkit-column-count: 2;
  -webkit-column-gap: 30px;
}
.file-drop {
  min-height: 100px;
}
.tracker-form-text {
  margin-top: -15px;
}
.catlists .catitems {
  display: inline-block;
}
.catlists_block .catitems_block li {
  display: block;
}
.catlists_title {
  padding: 10px 5px 5px 0;
  display: block;
}
.categpath {
  display: block;
}
a.categpath {
  display: inline;
}
.catfeatures {
  margin-left: 0;
  padding: 0;
  font-weight: bold;
  list-style: none;
}
.catfeatures .catitems li {
  display: inline;
  margin-right: 7px;
}
.catitems {
  margin-left: 15px;
  padding: 0;
  list-style: none;
}
.catitems li {
  margin-right: 7px;
  display: inline;
}
.categories {
  margin: 0;
  padding: 0;
}
.categories li {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* Fancy filter */
.filter .category-picker {
  display: none;
}
.filter .fancyfilter {
  min-height: 1.5em;
  min-width: 20em;
  float: left;
  margin-right: 5px;
  border: thin solid #cccccc /*black*/;
  padding: 0.1em;
  cursor: text;
}
.filter .fancyfilter .token {
  display: inline-block;
  background: #ccc;
  cursor: default;
}
.filter .fancyfilter .token .ui-icon-close {
  float: right;
  cursor: pointer;
}
.Zend_Tag_Cloud li,
.Zend_Tag_Cloud {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style: none;
}
.filter label {
  display: inline-block;
}
.tree.root .object-count {
  float: right;
  font-weight: bold;
  margin-left: 10px;
  margin-right: 10px;
}
#categorizator .checkbox {
  display: inline;
  padding-left: 10px;
}
#categorizator .checkbox input[type="checkbox"] {
  margin-left: 0;
}
ul.tree {
  padding-left: 3px;
}
.searchresults {
  list-style: none;
  padding: 0;
  margin: 0;
}
.searchresults li {
  margin: 10px 0 0;
}
.tiki_sheet * {
  line-height: normal;
  font-size: 14px;
}
.tiki_sheet table td {
  padding: 0;
  border: 1px solid #dddddd;
}
.jSBarTopParent .jSBarController {
  height: 0px !important;
}
.plugin-sample {
  padding: 5px;
  font-family: "Courier New", Courier, monospace;
}
.plugin-sample .plugin-param {
  padding-left: 15px;
}
div.aclabel,
span.aclabel,
label.aclabel {
  float: left;
  min-width: 150px;
}
.viewmode {
  line-height: 1em;
  padding: 1px;
  text-align: center;
  width: 100%;
}
.viewmode div {
  display: inline;
}
.box-data .calnavigation {
  font-size: 1.1em;
  font-weight: 700;
  margin: -20px 0 0;
  padding: 4px;
  text-align: center;
}
.calhighlight {
  background: #ddf4ef;
}
a.fc-event:hover {
  color: white;
}
#intertrans-indicator {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;
  padding: 1em;
  z-index: 1000;
  background-color: #dff0d8;
  color: #3c763d;
}
#intertrans-form {
  position: fixed;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  overflow: auto;
  display: none;
  z-index: 2000;
  padding: 1em;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  color: #333333;
}
#intertrans-form table {
  width: 98%;
  padding: 1em;
}
#intertrans-form table input {
  width: 100%;
}
.intertrans td {
  width: 50%;
}
#edit_translations td {
  vertical-align: middle;
}
#edit_translations input {
  margin: 2px 0 2px 0;
}
#edit_translations tr.last {
  border-bottom: 2px solid #d6e9c6;
}
ul.all_languages {
  list-style: none;
  padding-left: 0;
}
ul.all_languages > li {
  border: 1px solid #d6e9c6;
  padding: 1em;
  margin-bottom: 1ex;
}
.lang_select {
  position: relative;
  display: inline-block;
  height: 16px;
  width: 18px;
  vertical-align: middle;
  text-align: left;
}
.lang_select .clearfix:after {
  display: inline-block;
}
.lang_select .selected {
  font-weight: bold;
  font-style: italic;
}
.lang_select .cssmenu_horiz li {
  border-radius: 3px;
  -moz-border-radius: 3px;
  width: auto;
}
.lang_select .cssmenu_horiz li.tabmark {
  background: none;
  border: 0;
  color: inherit;
  padding: 0;
  top: 0;
}
.lang_select .cssmenu_horiz .tabmark span {
  background: none;
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0;
  top: 0;
  bottom: 0;
  left: 1px;
  right: 0;
}
.lang_select li.tabmark .popup_base a {
  color: inherit;
  background: none;
}
.lang_select .tabcontent h1 {
  font-size: 1.1em;
  font-style: italic;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1px;
  padding-left: 0;
  padding-bottom: 1px;
  vertical-align: baseline;
}
.lang_select .tabcontent h1 a {
  padding-left: 2px;
  margin-left: 0;
  font-style: normal;
}
/***** Tags (freetags) *****/
.freetaglist a {
  text-decoration: none;
}
.freetagitemlist .type {
  font-weight: bold;
  font-size: 0.8em;
  margin-left: 10px;
}
a.freetag,
a.freetag:hover {
  background: none;
  border: 0;
  margin: auto;
}
a.freetag_1 {
  text-decoration: none;
  font-size: .8em;
}
a.freetag_2 {
  text-decoration: none;
  font-size: .9em;
}
a.freetag_3 {
  text-decoration: none;
  font-size: 1em;
}
a.freetag_4 {
  text-decoration: none;
  font-size: 1.2em;
}
a.freetag_5 {
  text-decoration: none;
  font-size: 1.4em;
}
a.freetag_6 {
  text-decoration: none;
  font-size: 1.6em;
}
a.freetag_7 {
  text-decoration: none;
  font-size: 1.8em;
}
ul.freetagged li {
  float: left;
  clear: left;
  list-style: none;
}
.faqlistquestions {
  margin-bottom: 20px;
}
.faqqa {
  margin-bottom: 20px;
}
.faqquestion {
  font-weight: bold;
  padding: 2px 12px 0 12px;
}
.faqanswer {
  padding: 0 12px 4px 12px;
}
.pollresults {
  width: 100%;
}
.questionblock {
  margin-bottom: 10px;
}
.quizquestion {
  margin-bottom: 5px;
}
.quizdescription {
  margin-bottom: 10px;
}
.quizanswer {
  margin-bottom: 10px;
}
.surveyquestions {
  min-height: 30em;
}
.quizoptions label {
  display: block;
}
.type_option {
  display: none;
}
.dircategs {
  font-size: 95%;
}
.dirsublink {
  font-size: .95em;
}
.dirsite {
  margin-bottom: 10px;
  padding: 4px;
}
.dirsitetrail {
  font-size: 95%;
  color: #f5f5f5;
}
.dirsitecats {
  font-size: 95%;
  color: #f5f5f5;
}
.kaltura .items img {
  margin: 0;
}
.kaltura .items a {
  display: block;
  float: left;
  margin: 20px 15px;
}
fieldset.dropzone {
  min-height: 120px;
}
#resultzone > div:hover {
  background: #dff0d8;
}
.prio1,
.prio2,
.prio3,
.prio4,
.prio5 {
  border: 1px solid #dddddd;
  padding-left: 2px;
}
.prio1 {
  background: #f7f9ca;
}
.prio2 {
  background: #f7f9ea;
}
.prio3 {
  background: #f7f9fa;
}
.prio4 {
  background: #f7f9fd;
}
.prio5 {
  background: #f7f9ff;
}
.messureadflag {
  background: #a9a9a9;
  padding-left: 5px;
}
.messureadhead {
  background: #dcdcdc;
  margin-top: 2px;
}
.messureadbody {
  margin-top: 5px;
  background: #dcdcdc;
}
.readlink {
  font-size: .95em;
  color: black;
}
.webmail_item {
  font-size: .9em;
  border: 1px solid #dddddd;
  margin: 1px 0;
  padding: 0 1px;
}
.webmail_refresh_message {
  font-size: .8em;
}
.webmail_list .odd {
  background: #eee;
}
.webmail_list .button {
  background: #fff;
  border: 1px solid #666;
  padding: 0 2px;
}
.webmail_list .webmail_read {
  background: #aaa;
}
.webmail_list .webmail_replied {
  background: #888;
}
.webmail_list .webmail_taken {
  border: #900;
  color: #900;
}
.webmail_message {
  background: #fff;
}
.webmail_mono {
  font-size: 1.1em;
  font-family: "Courier New", Courier, monospace;
}
.webmail_message_headers {
  background: #fff;
  width: 100%;
  padding: 0 5em .5em 0;
}
.webmail_message_headers th {
  font-style: italic;
  text-align: right;
  border: none;
  background: transparent;
  width: 6em;
}
.user-info {
  font-size: .9em;
  padding-bottom: 2em;
}
.user-info p {
  margin-left: 50px;
}
.user-info .avatar {
  float: left;
  margin-right: .3em;
}
.user-info .gender,
.user-info .email,
.user-info .lastseen {
  display: block;
  clear: right;
}
.user-info .distance {
  margin-left: 1em;
}
.user-info .friendship {
  list-style: none;
  margin: 0 1em 0 50px;
  padding: 0;
}
.user-info .friendship li {
  float: left;
  margin-right: 1em;
}
.user-info .friendship li span {
  padding-right: .5em;
}
/* webmail & groupmail */
.box-webmail_inbox img.icon {
  vertical-align: middle;
}
.pref_dependency {
  margin-left: 33px;
  font-size: 95%;
}
img.pref_dependency {
  opacity: 0.25;
}
.pref_note {
  margin-left: 33px;
  font-size: 90%;
  font-style: italic;
}
.deleted {
  text-decoration: line-through;
}
.taskcount {
  font-style: italic;
}
.meta-col1 {
  text-align: right;
  font-weight: bold;
  font-size: 14px;
  width: 225px;
  margin-right: 5px;
}
.meta-col2 {
  font-size: 14px;
  width: 375px;
}
.meta-section {
  border-bottom: solid 1px #d3d3d3;
  width: 600px;
  font-style: italic;
}
.meta-tabs-col1 {
  text-align: right;
  font-weight: bold;
  font-size: inherit;
  width: 225px;
  margin-right: 5px;
}
.meta-tabs-col2 {
  font-size: inherit;
  width: 375px;
}
.userWizardIconleft {
  float: left;
  margin-right: 10px;
}
.userWizardIconright {
  float: right;
  margin-left: 10px;
}
.userWizardContent {
  margin-top: 1em;
}
.userWizardContent legend {
  margin-bottom: 1em;
  font-weight: bold;
}
.userWizardContent fieldset {
  margin: 1em 0;
}
.age-validation .form-control {
  width: auto;
  display: inline;
  margin: 0 1em;
}
form.simple label.error {
  background: url('img/icons/error.png') no-repeat 0 4px;
  color: #a94442;
  padding: 4px 0 0 20px;
  margin-left: 0.5em;
}
form.simple label {
  clear: both;
  padding-top: 1em;
}
form.simple label.depends {
  padding-left: 20px;
}
form.simple label .description {
  padding-left: 20px;
}
form.simple label .warning {
  padding-top: 12px;
  color: #a94442;
}
form.simple textarea,
form.simple input[type="text"],
form.simple input[type="file"],
form.simple input[type="url"],
form.simple input[type="email"],
form.simple input[type="number"],
form.simple select {
  display: block;
  clear: left;
  width: 100%;
}
form.simple textarea.export {
  height: 320px;
}
.tiki-modal {
  position: absolute;
  text-align: center;
}
.tiki-modal .mask {
  position: absolute;
  background-color: #ffffff;
  display: none;
  width: 100%;
  height: auto;
}
.tiki-modal .dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: bold;
}
.ui-dialog {
  background: #ffffff;
  color: #333333;
}
body > .ui-front {
  /* bs .modal has z-index: 1050, need body specified so as to override jquery-ui.css */
  z-index: 2000;
}
.olControlNavToolbar {
  top: 345px !important;
}
.olControlMousePosition {
  background: rgba(0, 0, 0, 0.75);
  border-radius: 16px;
  bottom: auto !important;
  color: #FFF;
  display: block;
  font-family: Arial;
  font-size: smaller;
  padding: 0 8px;
  position: absolute;
  right: 6px !important;
  top: 7px;
}
.olControlScaleLine {
  bottom: 30px !important;
  left: 50px !important;
}
.olControlScaleLineTop,
.olControlScaleLineBottom {
  background-color: rgba(255, 255, 255, 0.5);
}
.ui-selectmenu {
  position: relative;
  padding-right: 0 !important;
}
.ui-selectmenu span.ui-selectmenu-status {
  display: block;
  font-size: .8em !important;
  margin-right: 0%;
  position: absolute;
  overflow: hidden;
  padding-left: 0 !important;
  left: .3em !important;
  line-height: 1.5em !important;
  text-shadow: none !important;
  white-space: nowrap !important;
  width: inherit !important;
}
.ui-selectmenu-icon {
  width: 16px !important;
  right: 16px !important;
  margin-right: -16px !important;
  margin-top: -12px !important;
  background-color: inherit;
  border: solid 5px transparent !important;
  box-shadow: -5px 0 5px 2px rgba(0, 0, 0, 0.1), -1px 0 0 rgba(0, 0, 0, 0.1), -2px 0 0 rgba(255, 255, 255, 0.25);
}
.ui-selectmenu-menu ul {
  padding-right: 0 !important;
}
.ul-selectmenu-menu li {
  padding-right: 1em !important;
}
.ui-selectmenu-menu ul li a {
  margin-left: -.5em;
  padding-right: 0 !important;
  white-space: normal !important;
}
.ui-dialog .layersDiv label {
  display: inline-block;
  clear: none;
  padding-top: 0;
}
.ui-dialog .olControlLayerSwitcher {
  top: 0;
}
.minimap {
  height: 180px;
}
.minimap .olControlAttribution,
.map-container .olControlAttribution {
  right: 3px;
  bottom: 3px;
  text-align: right;
}
.s5-slide * {
  line-height: 1.3em;
}
.s5-slide h1,
.s5-slide h2,
.s5-slide h3,
.s5-slide h4 {
  line-height: 1em;
}
.s5-slide * li {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}
.s5-footer {
  font-size: 110%;
}
.ui-dialog {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}
.ui-dialog label {
  display: block;
}
.ui-datepicker,
.ui-dialog {
  z-index: 1024;
}
h4.ui-accordion-header {
  padding-left: 2.2em;
}
div.form-group label.error {
  font-weight: normal !important;
}
.page-header {
  border-bottom: none;
  margin: auto;
  padding-bottom: 0;
}
.row.page-header {
  margin-left: -15px;
  margin-right: -15px;
}
body.navbar-padding {
  padding-top: 70px;
}
.dropdown-menu {
  padding: 0;
}
.popover {
  max-width: inherit;
}
@media (min-width: 768px) {
  .col-md-8 .table-responsive,
  .col-md-9 .table-responsive,
  .col-md-3 .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
.modal.in {
  overflow-y: auto;
}
/* becomes height using padding (so it's divided by 2) */
/* url(icons/loading.gif); */
/* Filter widget transition */
.filterWidgetTransition {
  -webkit-transition: line-height 0.1s ease;
  -moz-transition: line-height 0.1s ease;
  -o-transition: line-height 0.1s ease;
  transition: line-height 0.1s ease;
}
/*** Arrows ***/
.tablesorter {
  width: 100%;
  margin-bottom: 2px;
  /* style header */
  /* table processing indicator - indeterminate spinner */
  /* filter widget */
  /* hidden filter row */
  /*no formatting on filter row when filter-false*/
  /* rows hidden by filtering (needed for child rows) */
}
.tablesorter-header {
  background-repeat: no-repeat;
  background-position: center right;
  cursor: pointer;
}
.tablesorter-header i {
  font-weight: 400;
  position: absolute;
  right: 2px;
  top: 50%;
  margin-top: -7px;
  /* half the icon height; older IE doesn't like this */
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  line-height: 14px;
  display: inline-block;
}
.tablesorter-header.sorter-false {
  background-image: none;
  cursor: default;
}
table.tablesorter-processing tbody tr td {
  opacity: .25;
}
.tablesorter-filter-row input,
.tablesorter-filter-row select {
  width: 98%;
  height: auto;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: line-height 0.1s ease;
  -moz-transition: line-height 0.1s ease;
  -o-transition: line-height 0.1s ease;
  transition: line-height 0.1s ease;
}
.tablesorter-filter-row td {
  text-align: center;
  line-height: normal;
  -webkit-transition: line-height 0.1s ease;
  -moz-transition: line-height 0.1s ease;
  -o-transition: line-height 0.1s ease;
  transition: line-height 0.1s ease;
}
.tablesorter-filter-row td label {
  float: left;
  clear: both;
  font-size: 70%;
}
.tablesorter-filter-row.hideme td {
  padding: 2px;
  margin: 0;
  line-height: 0;
  cursor: pointer;
}
.tablesorter-filter-row.hideme .tablesorter-filter {
  height: 1px;
  min-height: 0;
  border: 0;
  padding: 0;
  margin: 0;
  /* don't use visibility: hidden because it disables tabbing */
  opacity: 0;
  filter: alpha(opacity=0);
}
.tablesorter thead .disabled {
  display: none;
}
.tablesorter .filtered {
  display: none;
}
.tablesorter input.dateFrom,
.tablesorter input.dateTo {
  width: 60px;
  font-size: 70%;
  float: right;
}
/*pager*/
div.ts-pager {
  height: 24px;
  float: right;
  clear: both;
}
div.ts-pager div.btn-group {
  margin-top: 2px;
}
div.ts-pager div.btn-group button {
  padding-top: 2px;
  height: 24px;
}
div.ts-pager div.btn-group span.selectlabels {
  margin-top: 2px;
  margin-right: 5px;
  font-size: smaller;
}
div.ts-pager div.btn-group select.gotopage,
div.ts-pager div.btn-group select.pagesize {
  margin-top: 2px;
}
div.ts-pager div.btn-group select.gotopage option,
div.ts-pager div.btn-group select.pagesize option {
  font-size: smaller;
}
div.ts-pager-top {
  margin-top: 5px;
  margin-bottom: 7px;
}
/* black */
/* white */
/* automatically choose the correct arrow/text color */
.tsFilterInput {
  border: none;
  background-color: #f7f7f7;
}
.tablesorter {
  /* style header */
}
.tablesorter-header {
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
}
.tablesorter .bootstrap-icon-unsorted {
  background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
}
.tablesorter-headerAsc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
}
.tablesorter-headerDesc {
  background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
}
input.tablesorter-filter {
  border: none;
  background-color: #f7f7f7;
}
.tablesorter input.dateFrom,
.tablesorter input.dateTo {
  border: none;
  background-color: #f7f7f7;
}
/* End of file */
